@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');c

*{
    margin: 0;
    padding: 0;
}
.content{
    width: 100%;
    height: 100vh;
    background-color: hwb(288 0% 90%);
    background-image: url(images/bg-stars.svg);
    background-repeat: no-repeat;
    font-family: 'Red Hat Text';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.tittle{
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: hsl(0, 0%, 100%);
    padding: 40px;
}
.cron{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 300px;
    margin: auto;
    position: relative;
}
.text{
    color: hsl(237, 18%, 59%);
    font-size: 9px;
    text-align: center;
    text-transform: uppercase;
}
.cuadros{
    background-color: rgb(44 45 67);
    width: 90%;
    height: 30px;
    border-radius: 3px 3px 7px 7px;
}
.cuadros1{
    width: 90%;
    height: 30px;
    background-color: hsl(236, 21%, 26%);
    border-radius: 7px 7px 3px 3px;
}
.numDays{
    grid-column: 1/2;
    grid-row: 1/2;
}
.numHours{
    grid-column: 2/3;
    grid-row: 1/2;
}
.numMinutes{
    grid-column: 3/4;
    grid-row: 1/2;
}
.numseconds{
    grid-column: 4/5;
    grid-row: 1/2;
}
.numDays1{
    grid-column: 1/2;
    grid-row: 2/3;
}
.numHours1{
    grid-column: 2/3;
    grid-row: 2/3;
}
.numMinutes1{
    grid-column: 3/4;
    grid-row: 2/3;
}
.numseconds1{
    grid-column: 4/5;
    grid-row: 2/3;
}
.days{
    grid-column: 1/2;
    grid-row: 3/4;
}
.hours{
    grid-column: 2/3;
    grid-row: 3/4;
}
.minutes{
    grid-column: 3/4;
    grid-row: 3/4;
}
.seconds{
    grid-column: 4/5;
    grid-row: 3/4;
}
.num{
    position: absolute;
    color: hsl(345, 95%, 68%);
    font-size: 32px;
    z-index: 1;
    top: -25px;
}
.pos1{
    left: 15px;
}
.pos2{
    left: 95px;
}
.pos3{
    left: 155px;
}
.pos4{
    left: 240px;
}
.subtittle{
    color: hsl(0, 0%, 100%);
}
.redSocial{
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 0;
    z-index: 1;
}
.img{
    width: 18px;
    margin: 20px;
    cursor: pointer;
    font-size: 14px;
    filter: invert(69%) sepia(89%) saturate(0%) hue-rotate(314deg) brightness(94%) contrast(113%);
}
.img:hover{
    filter: invert(61%) sepia(61%) saturate(2214%) hue-rotate(305deg) brightness(98%) contrast(102%);
}
.imageFooter{
    width: 100%;
    position: absolute;
    height: 190px;
    bottom: 0;
    right: 0;
    z-index: 0;
}
@media(min-width:400px){
    .cron{
        width: 600px;
    }
    .cuadros{
        background-color: rgb(44 45 67);
        width: 90%;
        height: 60px;
        border-radius: 3px 3px 7px 7px;
    }
    .cuadros1{
        width: 90%;
        height: 60px;
        background-color: hsl(236, 21%, 26%);
        border-radius: 7px 7px 3px 3px;
    }
    .num{
        font-size: 55px;
        top: -30px;
    }
    .pos1{
        left: 35px;
    }
    .pos2{
        left: 190px;
    }
    .pos3{
        left: 335px;
    }
    .pos4{
        left: 485px;
    }
    .img{
        width: 30px;
    }
    .imageFooter{
        left: 0px;
    }
}

